#!/bin/bash

#SBATCH --ntasks=1
#SBATCH --time=POSTPROCTIME
#SBATCH --account=ACCOUNT
#SBATCH --partition=skl_fua_dbg
#SBATCH --output=RUNDIRslurm-post-%j.out

set -e

cd $SLURM_SUBMIT_DIR

# Get setup for Julia
source julia.env

echo "post-processing (with original post_processing) RUNDIR $(date)"
bin/julia -Jmoment_kinetics.so --project run_post_processing.jl RUNDIR

echo "finished post-processing RUNDIR $(date)"
