*.mem
performance-tests/config.toml
Manifest.toml
LocalPreferences.toml
/Project.toml
/makie_post_processing/Project.toml
/plots_post_processing/Project.toml
/julia.env
/.julia
bin
machines/shared/compile_dependencies.sh
machines/artifacts
/precompile-makie-post-processing-submit.sh
/precompile-plots-post-processing-submit.sh
/precompile-submit.sh
/submit-restart.sh
/submit-run.sh
/.this_machine_name.txt
moment_kinetics.so
precompile-temp
post_processing_input.toml
