*.mem
performance-tests/config.toml
Manifest.toml
LocalPreferences.toml
/Project.toml
/makie_post_processing/Project.toml
/plots_post_processing/Project.toml
/julia.env
/.julia
/bin
/machines/shared/compile_dependencies.sh
/machines/artifacts
/machines/generic-batch
/precompile-makie-post-processing-submit.sh
/precompile-plots-post-processing-submit.sh
/precompile-submit.sh
/submit-restart.sh
/submit-run.sh
/submit-precompile-and-restart.sh
/submit-precompile-and-run.sh
/.julia_default.txt
/.julia_directory_default.txt
/.this_machine_name.txt
/compute-node-temp.julia.tar.bz
moment_kinetics.so
makie_postproc.so
plots_postproc.so
precompile-temp
post_processing_input.toml
.DS_Store
