[reactions]
charge_exchange_frequency = 0.75
ionization_frequency = 0.0

[electron_fluid_collisions]
nu_ei = 1000.0

[evolve_moments]
density = true
parallel_flow = true
parallel_pressure = true
moments_conservation = true

[r]
ngrid = 1
nelement = 1

[z]
ngrid = 17
nelement = 16
#nelement_local = 16
bc = "periodic"
discretization = "chebyshev_pseudospectral"

[vpa]
ngrid = 6
nelement = 31
L = 12.0
bc = "zero"
discretization = "chebyshev_pseudospectral"

[vz]
ngrid = 6
nelement = 31
L = 12.0
bc = "zero"
discretization = "chebyshev_pseudospectral"

[composition]
n_ion_species = 1
n_neutral_species = 1
electron_physics = "braginskii_fluid"
recycling_fraction = 0.5
T_e = 1.0
T_wall = 0.1

[ion_species_1]
initial_density = 1.0
initial_temperature = 1.0

[z_IC_ion_species_1]
initialization_option = "sinusoid"
density_amplitude = 0.1
density_phase = 0.0
upar_amplitude = 1.0
upar_phase = 0.0
temperature_amplitude = 0.1
temperature_phase = 1.0

[vpa_IC_ion_species_1]
initialization_option = "gaussian"
density_amplitude = 1.0
density_phase = 0.0
upar_amplitude = 0.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0

[neutral_species_1]
initial_density = 1.0
initial_temperature = 1.0

[z_IC_neutral_species_1]
initialization_option = "sinusoid"
density_amplitude = 0.001
density_phase = 0.0
upar_amplitude = 0.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0

[vz_IC_neutral_species_1]
initialization_option = "gaussian"
density_amplitude = 1.0
density_phase = 0.0
upar_amplitude = 0.0
upar_phase = 0.0

[timestepping]
type = "KennedyCarpenterARK324"
kinetic_ion_solver = "full_explicit_ion_advance"
implicit_braginskii_conduction = true
nstep = 1000000
dt = 1.0e-6
minimum_dt = 1.0e-7
rtol = 1.0e-7
nwrite = 10000
nwrite_dfns = 100000
steady_state_residual = true
converged_residual_value = 1.0e-3
#[timestepping]
#type = "KennedyCarpenterARK324"
#kinetic_ion_solver = "full_explicit_ion_advance"
#implicit_braginskii_conduction = true
#nstep = 1000000
#dt = 1.0e-6
#minimum_dt = 1.0e-7
#rtol = 1.0e-7
#nwrite = 100
#nwrite_dfns = 100
#steady_state_residual = true
#converged_residual_value = 1.0e-3
#write_after_fixed_step_count = true
#write_error_diagnostics = true
#write_steady_state_diagnostics = true

[nonlinear_solver]
nonlinear_max_iterations = 100
#rtol = 1.0e-9
#atol = 1.0e-12

[ion_numerical_dissipation]
vpa_dissipation_coefficient = 1.0e0
force_minimum_pdf_value = 0.0

[neutral_numerical_dissipation]
vz_dissipation_coefficient = 1.0e-1
force_minimum_pdf_value = 0.0

[krook_collisions]
use_krook = true
