[r]
ngrid = 1
nelement = 1

[evolve_moments]
parallel_pressure = true
density = true
moments_conservation = true
parallel_flow = true

[reactions]
ionization_frequency = 0.0
charge_exchange_frequency = 0.75

[vz]
ngrid = 6
discretization = "gausslegendre_pseudospectral"
nelement = 31
L = 12.0
element_spacing_option = "coarse_tails"
bc = "zero"

[ion_species_1]
initial_temperature = 1.0
initial_density = 1.0

[krook_collisions]
nuee0 = 1000.0
use_krook = true
frequency_option = "reference_parameters"
nuei0 = 1000.0

[vpa]
ngrid = 6
discretization = "gausslegendre_pseudospectral"
nelement = 31
L = 12.0
element_spacing_option = "coarse_tails"
bc = "zero"

[z]
ngrid = 5
discretization = "gausslegendre_pseudospectral"
nelement = 16
nelement_local = 2
bc = "periodic"

[vpa_IC_ion_species_1]
initialization_option = "gaussian"
density_amplitude = 1.0
temperature_amplitude = 0.0
density_phase = 0.0
upar_amplitude = 0.0
temperature_phase = 0.0
upar_phase = 0.0

[z_IC_neutral_species_1]
initialization_option = "sinusoid"
temperature_amplitude = 0.0
density_amplitude = 0.001
density_phase = 0.0
upar_amplitude = 0.0
temperature_phase = 0.0
upar_phase = 0.0

[composition]
T_wall = 0.1
T_e = 1.0
electron_physics = "kinetic_electrons"
recycling_fraction = 0.5
n_ion_species = 1
n_neutral_species = 1

[vz_IC_neutral_species_1]
initialization_option = "gaussian"
density_amplitude = 1.0
temperature_amplitude = 0.0
density_phase = 0.0
upar_amplitude = 0.0
temperature_phase = 0.0
upar_phase = 0.0

[z_IC_ion_species_1]
initialization_option = "sinusoid"
density_amplitude = 0.1
temperature_amplitude = 0.1
density_phase = 0.0
upar_amplitude = 0.1
temperature_phase = 1.0
upar_phase = 0.0

[neutral_species_1]
initial_temperature = 1.0
initial_density = 1.0

[timestepping]
type = "PareschiRusso2(2,2,2)"
kinetic_electron_solver = "implicit_ppar_implicit_pseudotimestep"
implicit_ion_advance = false
implicit_vpa_advection = false
nstep = 500000
dt = 2.0e-4
#nwrite = 50
#nwrite_dfns = 50
nwrite = 5
nwrite_dfns = 5
steady_state_residual = true
converged_residual_value = 1.0e-3

[electron_timestepping]
nstep = 5000000
#nstep = 1
#dt = 2.0e-8
dt = 5.0e-5
maximum_dt = 1.0
nwrite = 10000
nwrite_dfns = 100000
#type = "SSPRK4"
type = "Fekete4(3)"
rtol = 1.0e-6
atol = 1.0e-14
minimum_dt = 1.0e-10
decrease_dt_iteration_threshold = 100
increase_dt_iteration_threshold = 20
cap_factor_ion_dt = 10.0
initialization_residual_value = 2.5
#converged_residual_value = 0.1 #1.0e-3
converged_residual_value = 1.0e-2
#debug_io = 10000
constraint_forcing_rate = 1.0e-4

[nonlinear_solver]
#nonlinear_max_iterations = 20 #100
nonlinear_max_iterations = 1000
rtol = 1.0e-8 #1.0e-5
atol = 1.0e-16
linear_restart = 5
preconditioner_update_interval = 100 #1000

[ion_numerical_dissipation]
vpa_dissipation_coefficient = 1.0e0
force_minimum_pdf_value = 0.0

[electron_numerical_dissipation]
vpa_dissipation_coefficient = 2.0
#vpa_dissipation_coefficient = 2.0e2
force_minimum_pdf_value = 0.0

[neutral_numerical_dissipation]
vz_dissipation_coefficient = 1.0e-1
force_minimum_pdf_value = 0.0
