[r]
ngrid = 1
nelement = 1

[evolve_moments]
density = true
parallel_flow = true
pressure = true

[reactions]
ionization_frequency = 0.0
charge_exchange_frequency = 1.0606601717798214

[vz]
ngrid = 6
discretization = "gausslegendre_pseudospectral"
nelement = 31
L = 20.784609690826528
element_spacing_option = "coarse_tails8.660254037844386"
bc = "zero"

[ion_species_1]
initial_temperature = 0.3333333333333333
initial_density = 1.0

[krook_collisions]
nuee0 = 1414.213562373095
use_krook = true
frequency_option = "reference_parameters"
nuei0 = 1414.213562373095

[vpa]
ngrid = 6
discretization = "gausslegendre_pseudospectral"
nelement = 31
L = 20.784609690826528
element_spacing_option = "coarse_tails8.660254037844386"
bc = "zero"

[z]
ngrid = 5
discretization = "gausslegendre_pseudospectral"
nelement = 16
#nelement_local = 16
bc = "periodic"

[vpa_IC_ion_species_1]
initialization_option = "gaussian"
density_amplitude = 1.0
temperature_amplitude = 0.0
density_phase = 0.0
upar_amplitude = 0.0
temperature_phase = 0.0
upar_phase = 0.0

[z_IC_neutral_species_1]
initialization_option = "sinusoid"
temperature_amplitude = 0.0
density_amplitude = 0.001
density_phase = 0.0
upar_amplitude = 0.0
temperature_phase = 0.0
upar_phase = 0.0

[composition]
T_wall = 0.1
T_e = 1.0
electron_physics = "kinetic_electrons"
recycling_fraction = 0.5
n_ion_species = 1
n_neutral_species = 1

[vz_IC_neutral_species_1]
initialization_option = "gaussian"
density_amplitude = 1.0
temperature_amplitude = 0.0
density_phase = 0.0
upar_amplitude = 0.0
temperature_phase = 0.0
upar_phase = 0.0

[z_IC_ion_species_1]
initialization_option = "sinusoid"
density_amplitude = 0.1
temperature_amplitude = 0.1
density_phase = 0.0
upar_amplitude = 0.14142135623730953
temperature_phase = 1.0
upar_phase = 0.0

[neutral_species_1]
initial_temperature = 0.3333333333333333
initial_density = 1.0

[timestepping]
type = "KennedyCarpenterARK324"
kinetic_electron_solver = "implicit_p_implicit_pseudotimestep"
kinetic_ion_solver = "full_explicit_ion_advance"
nstep = 1000000
dt = 7.071067811865475e-7
minimum_dt = 7.071067811865474e-8
#maximum_dt = 2.0e-5
rtol = 0.0001
max_increase_factor_near_last_fail = 1.001
last_fail_proximity_factor = 1.1
max_increase_factor = 1.05
nwrite = 10000
nwrite_dfns = 10000
steady_state_residual = true
converged_residual_value = 0.0014142135623730952

#write_after_fixed_step_count = true
#nstep = 1

[electron_timestepping]
nstep = 5000000
#nstep = 1
#dt = 2.0e-8
dt = 1.4142135623730951e-5
maximum_dt = 0.7071067811865475
nwrite = 10000
nwrite_dfns = 100000
#type = "SSPRK4"
type = "Fekete4(3)"
rtol = 1.0e-6
atol = 1.0e-14
minimum_dt = 7.071067811865475e-11
decrease_dt_iteration_threshold = 100
increase_dt_iteration_threshold = 20
cap_factor_ion_dt = 10.0
initialization_residual_value = 2.5
#converged_residual_value = 0.1 #1.0e-3
converged_residual_value = 0.014142135623730952
#debug_io = 10000
constraint_forcing_rate = 0.0001414213562373095

[nonlinear_solver]
nonlinear_max_iterations = 20 #100
rtol = 1.0e-8 #1.0e-5
atol = 1.0e-16
#linear_restart = 40
#linear_restart = 200
linear_restart = 5
preconditioner_update_interval = 100

[ion_numerical_dissipation]
vpa_dissipation_coefficient = 4.242640687119286
force_minimum_pdf_value = 0.0

[electron_numerical_dissipation]
vpa_dissipation_coefficient = 8.485281374238571
#vpa_dissipation_coefficient = 2.0e2
force_minimum_pdf_value = 0.0

[neutral_numerical_dissipation]
vz_dissipation_coefficient = 0.42426406871192857
force_minimum_pdf_value = 0.0
