[reactions]
charge_exchange_frequency = 0.75
ionization_frequency = 0.5

[evolve_moments]
density = true
parallel_flow = true
parallel_pressure = true
moments_conservation = true

[r]
ngrid = 1
nelement = 1

[z]
ngrid = 5
nelement = 32
#nelement_local = 16
bc = "wall"
discretization = "gausslegendre_pseudospectral"
element_spacing_option = "sqrt"

[vpa]
ngrid = 6
nelement = 31 #63
L = 48.0
bc = "zero"
discretization = "gausslegendre_pseudospectral"

[vz]
ngrid = 6
nelement = 31 #63
L = 36.0
bc = "zero"
discretization = "gausslegendre_pseudospectral"

[composition]
n_ion_species = 1
n_neutral_species = 1
#electron_physics = "kinetic_electrons_with_temperature_equation"
electron_physics = "kinetic_electrons"
recycling_fraction = 0.5
T_e = 0.2 # 1.0
T_wall = 0.1

[ion_species_1]
initial_density = 1.0
initial_temperature = 0.1

[z_IC_ion_species_1]
initialization_option = "gaussian"
density_amplitude = 0.001
density_phase = 0.0
upar_amplitude = 1.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0

[vpa_IC_ion_species_1]
initialization_option = "gaussian"
density_amplitude = 1.0
density_phase = 0.0
upar_amplitude = 0.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0

[neutral_species_1]
initial_density = 1.0
initial_temperature = 1.0

[z_IC_neutral_species_1]
initialization_option = "gaussian"
density_amplitude = 0.001
density_phase = 0.0
upar_amplitude = -1.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0

[vz_IC_neutral_species_1]
initialization_option = "gaussian"
density_amplitude = 1.0
density_phase = 0.0
upar_amplitude = 0.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0

[timestepping]
type = "Fekete4(3)"
kinetic_electron_solver = "explicit_pseudotimestep"
#nstep = 50000
nstep = 10000000
dt = 1.0e-6
minimum_dt = 1.0e-6
max_increase_factor_near_last_fail = 1.001
last_fail_proximity_factor = 1.1
nwrite = 100000
nwrite_dfns = 100000
steady_state_residual = true
converged_residual_value = 1.0e-3

[electron_timestepping]
nstep = 5000000
#nstep = 1
dt = 2.0e-8
nwrite = 10000
nwrite_dfns = 100000
#type = "SSPRK4"
type = "Fekete4(3)"
rtol = 1.0e-3
atol = 1.0e-14
minimum_dt = 1.0e-9
decrease_dt_iteration_threshold = 100
increase_dt_iteration_threshold = 20
cap_factor_ion_dt = 10.0
initialization_residual_value = 2.5
converged_residual_value = 0.1 #1.0e-3

[ion_source_1]
active = true
z_profile = "gaussian"
z_width = 0.125
source_strength = 2.0
source_T = 2.0

[ion_numerical_dissipation]
#vpa_dissipation_coefficient = 1.0e-1
#vpa_dissipation_coefficient = 1.0e-2
#vpa_dissipation_coefficient = 1.0e-3
force_minimum_pdf_value = 0.0

[electron_numerical_dissipation]
#vpa_dissipation_coefficient = 2.0
force_minimum_pdf_value = 0.0

[neutral_numerical_dissipation]
#vz_dissipation_coefficient = 1.0e-1
#vz_dissipation_coefficient = 1.0e-2
#vz_dissipation_coefficient = 1.0e-3
force_minimum_pdf_value = 0.0

[krook_collisions]
use_krook = true
