# cheap input file for a 0D2V relaxation to a collisional Maxwellian distribution with self-ion collisions and collisions with fixed Maxwellian background of cold ions and electrons.
[reactions]
charge_exchange_frequency = 0.0
ionization_frequency = 0.0

[evolve_moments]
density = false
parallel_flow = false
pressure = false

[z]
ngrid = 1
nelement = 1
nelement_local = 1
bc = "wall"
discretization = "chebyshev_pseudospectral"

[r]
ngrid = 1
nelement = 1
nelement_local = 1
discretization = "chebyshev_pseudospectral"

[vpa]
ngrid = 5
nelement = 32
L = 4.242640687119286
bc = "zero"
discretization = "gausslegendre_pseudospectral"

[vperp]
ngrid = 5
nelement = 16
L = 2.121320343559643
discretization = "gausslegendre_pseudospectral"
bc = "zero"
# Fokker-Planck operator requires the "gausslegendre_pseudospectral
# options for the vpa and vperp grids

[fokker_planck_collisions]
# nuii sets the normalised input C[F,F] Fokker-Planck collision frequency
nuii = 0.007505336888 #(1/nu_alphae, as computed from input diagnostic)
Zi = 2.0
self_collisions = true
slowing_down_test = true
frequency_option = "manual"
use_fokker_planck = true
use_conserving_corrections = true
sd_density = 1.0
sd_temp = 0.025 # TD/Ealpha
sd_mi = 0.5 # mD/malpha
sd_me = 0.000013616 # 0.25/1836.0 me/malpha
sd_q = 1.0

[ion_source_1]
active = false
source_strength = 0.0
source_T = 0.005
source_n = 1.0
r_profile = "constant"
r_width = 1.0
r_relative_minimum = 0.0
z_profile = "gaussian"
z_width = 0.1
z_relative_minimum = 0.0
source_v0 = 1.4142135623730951
#source_type="alphas"
source_type = "alphas-with-losses"
#source_type="beam-with-losses"
#source_vpa0 = 1.0
#source_vperp0 = 1.0
sink_strength = 0.0
sink_vth = 0.1

[timestepping]
nstep = 50000
dt = 0.00017677669529663688
nwrite = 100
nwrite_dfns = 100

[composition]
n_ion_species = 1
n_neutral_species = 0
electron_physics = "boltzmann_electron_response"
T_e = 1.0
T_wall = 1.0

[ion_species_1]
initial_density = 0.5
initial_temperature = 1.0

[z_IC_ion_species_1]
initialization_option = "sinusoid"
density_amplitude = 0.0
density_phase = 0.0
upar_amplitude = 0.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0

[vpa_IC_ion_species_1]
initialization_option = "isotropic-beam"
#initialization_option = "directed-beam"
v0 = 1.4142135623730951
vth0 = 0.14142135623730953
#vpa0 = -1.5
#vperp0 = 0.0

[inner_r_bc_1]
bc = "periodic"

[outer_r_bc_1]
bc = "periodic"
