[ion_source_1]
z_profile = "constant"
source_strength = 1.4142135623730951
source_T = 0.25

[evolve_moments]
density = false
parallel_flow = false
pressure = false

[z]
ngrid = 5
nelement = 16
#nelement_local = 2
bc = "wall"
element_spacing_option = "sqrt"
discretization = "chebyshev_pseudospectral"

[r]
ngrid = 1
nelement = 1
nelement_local = 1
discretization = "chebyshev_pseudospectral"

[vpa]
ngrid = 6
nelement = 15
L = 8.485281374238571
bc = "zero"
#discretization = "chebyshev_pseudospectral"
discretization = "gausslegendre_pseudospectral"

[vz]
ngrid = 6
nelement = 15
L = 8.485281374238571
bc = "zero"
#discretization = "chebyshev_pseudospectral"
discretization = "gausslegendre_pseudospectral"

[vperp]
ngrid = 5
nelement = 4
L = 4.242640687119286
#bc = "periodic"
#discretization = "finite_difference"
#discretization = "chebyshev_pseudospectral"
discretization = "gausslegendre_pseudospectral"

[composition]
n_ion_species = 1
n_neutral_species = 0
electron_physics = "boltzmann_electron_response"
#electron_physics = "boltzmann_electron_response_with_simple_sheath"
T_e = 1.0
T_wall = 1.0

[ion_species_1]
initial_density = 0.5
initial_temperature = 1.0

[z_IC_ion_species_1]
initialization_option = "sinusoid"
density_amplitude = 0.001
density_phase = 0.0
upar_amplitude = 0.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0

[fokker_planck_collisions]
use_fokker_planck = true
nuii = 4.0
frequency_option = "manual"

[timestepping]
nstep = 50
dt = 7.071067811865475e-5
nwrite = 10
nwrite_dfns = 10

[inner_r_bc_1]
bc = "periodic"

[outer_r_bc_1]
bc = "periodic"
