# cheap input file for a 0D2V relaxation with numerical diffusion terms d^2 F / dvpa^2 and d^2 F / vperp^2.
[reactions]
charge_exchange_frequency = 0.0
ionization_frequency = 0.0

[fokker_planck_collisions]
use_fokker_planck = true
nuii = 0.0

[evolve_moments]
density = false
parallel_flow = false
pressure = false

[z]
ngrid = 1
nelement = 1
nelement_local = 1
bc = "wall"
discretization = "chebyshev_pseudospectral"

[r]
ngrid = 1
nelement = 1
nelement_local = 1
discretization = "chebyshev_pseudospectral"

[vpa]
ngrid = 5
nelement = 16
L = 8.485281374238571
bc = "zero"
discretization = "gausslegendre_pseudospectral"

[vperp]
ngrid = 5
nelement = 8
L = 4.242640687119286
bc = "zero"
discretization = "gausslegendre_pseudospectral"

[composition]
n_ion_species = 1
n_neutral_species = 0
electron_physics = "boltzmann_electron_response"
T_e = 1.0
T_wall = 1.0

[ion_species_1]
initial_density = 0.5
initial_temperature = 1.0

[z_IC_ion_species_1]
initialization_option = "sinusoid"
density_amplitude = 0.001
density_phase = 0.0
upar_amplitude = 0.0
upar_phase = 0.0
temperature_amplitude = 0.0
temperature_phase = 0.0


[timestepping]
nstep = 2000
dt = 0.0007071067811865475
nwrite = 2000
nwrite_dfns = 2000
split_operators = false

[ion_numerical_dissipation]
vpa_dissipation_coefficient = 0.28284271247461906
vperp_dissipation_coefficient = 0.28284271247461906
z_dissipation_coefficient = -1.0
r_dissipation_coefficient = -1.0

[inner_r_bc_1]
bc = "periodic"

[outer_r_bc_1]
bc = "periodic"
