#combine_outer = ["charge_exchange_frequency"]
n_ion_species = 1
n_neutral_species = 1
boltzmann_electron_response = true
evolve_moments_density = false
evolve_moments_parallel_flow = false
evolve_moments_parallel_pressure = false
evolve_moments_conservation = true
T_e = 1.0
initial_density1 = 1.0
initial_temperature1 = 2.0
initial_density2 = 1.0
initial_temperature2 = 2.0
z_IC_option1 = "sinusoid"
#z_IC_density_amplitude1 = 0.001
z_IC_density_amplitude1 = 0.01
z_IC_density_phase1 = 0.0
z_IC_upar_amplitude1 = 0.0
z_IC_upar_phase1 = 0.0
z_IC_temperature_amplitude1 = 0.0
z_IC_temperature_phase1 = 0.0
z_IC_option2 = "sinusoid"
#z_IC_density_amplitude2 = 0.001
z_IC_density_amplitude2 = 0.01
z_IC_density_phase2 = 0.0
z_IC_upar_amplitude2 = 0.0
z_IC_upar_phase2 = 0.0
z_IC_temperature_amplitude2 = 0.0
z_IC_temperature_phase2 = 0.0
charge_exchange_frequency = [0.0, 0.3, 0.6, 0.9, 1.2, 1.5, 1.8, 2.1, 2.4, 2.7, 3.0, 3.3, 3.6, 3.9, 4.2, 4.5, 4.8, 5.1, 5.4, 5.7, 6.0, 6.3, 6.6, 6.9, 7.2, 7.5, 7.8, 8.1, 8.4, 8.7]
ionization_frequency = 0.0
nstep = 1800
dt = 0.001414213562373095
nwrite = 20
use_semi_lagrange = false
n_rk_stages = 4
split_operators = false
r_ngrid = 1
r_nelement = 1
z_ngrid = 17
z_nelement = 2
z_bc = "periodic"
z_discretization = "chebyshev_pseudospectral"
vpa_ngrid = 17
vpa_nelement = 8
vpa_L = 11.313708498984761 # = 8*sqrt(2)
vpa_bc = "periodic"
vpa_discretization = "chebyshev_pseudospectral"
vz_ngrid = 17
vz_nelement = 8
vz_L = 11.313708498984761 # = 8*sqrt(2)
vz_bc = "periodic"
vz_discretization = "chebyshev_pseudospectral"
