# Based on example from https://github.com/julia-actions/julia-runtest
name: Run tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
      fail-fast: false
    timeout-minutes: 40

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.8'
          arch: x64
      - uses: julia-actions/julia-buildpkg@v1
        env:
          # Use the system Python for PyCall - avoids library linking error on macOS
          PYTHON: "${{ env.pythonLocation }}/bin/python"
      - run: |
          pip3 install --user matplotlib
      - uses: julia-actions/julia-runtest@v1
